@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");
.navbar {
  width: 100%;
  height: 63px;
  background-color: #000000;
  padding: 0%;
  position: fixed;
  top: 0;
  z-index: 1; }

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 0;
  align-items: center;
  width: 100%; }

.navbar-nav {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%; }

.nav-link {
  font-family: Roboto, sans-serif;
  font-size: 18pt;
  color: #F4F4F4; }

a.nav-link:hover {
  border-bottom: 4px solid #FCDB35;
  color: #F4F4F4; }

.dropdown-menu {
  width: 300px;
  background-color: #FCDB35;
  box-shadow: 2px 2px 2px #aaaaaa; }

.dropdown-menu[data-bs-popper] {
  top: 100%;
  left: 0;
  margin-top: .125rem; }

.dropdown-item {
  width: 100%;
  background-color: #FCDB35;
  padding-bottom: 1rem;
  padding-left: 0px;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 15pt;
  padding-left: 10px; }

hr {
  margin: 0px 10px 0px 10px;
  width: 90%; }

a.dropdown-item:hover {
  width: 100%;
  height: 100%;
  background-color: #000000;
  color: #FCDB35; }

@media only screen and (min-device-width: 280px) and (max-device-width: 767px) {
  img#logo {
    width: 120px; }
  .navbar {
    width: 100%;
    height: auto;
    background-color: #000000;
    position: fixed;
    top: 0px; }
  .navbar-dark .navbar-toggler {
    color: rgba(255, 255, 255, 0.55);
    border-color: transparent; }
  .navbar-toggler:focus {
    box-shadow: none; }
  .navbar-nav {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
  .nav-link {
    font-family: Roboto, sans-serif;
    font-size: 12pt; }
  a.nav-link:hover {
    border-bottom: none; }
  .dropdown-item {
    font-size: 10pt; }
  .dropdown-menu {
    box-shadow: none; } }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  img#logo {
    width: 120px; }
  .navbar {
    width: 100%;
    height: auto;
    background-color: #000000; }
  .navbar-dark .navbar-toggler {
    color: rgba(255, 255, 255, 0.55);
    border-color: transparent; }
  .navbar-toggler:focus {
    box-shadow: none; }
  .navbar-nav {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
  .nav-link {
    font-family: Roboto, sans-serif;
    font-size: 12pt; }
  a.nav-link:hover {
    border-bottom: none; }
  .dropdown-item {
    font-size: 10pt; }
  .dropdown-menu {
    box-shadow: none; } }

body {
  line-height: 1.5;
  font-family: 'Roboto', sans-serif; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.footer {
  background-color: #fcdb35;
  padding: 15px; }
  .footer .container {
    max-width: 95%; }
    .footer .container .row {
      display: flex;
      flex-wrap: wrap; }

.footer_col {
  width: 25%;
  padding: 0 15px; }
  .footer_col h5 {
    font-size: 20pt;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative; }
  .footer_col ul {
    list-style: none; }
    .footer_col ul li {
      margin-bottom: 5px; }
      .footer_col ul li a {
        font-size: 15px;
        text-transform: capitalize;
        text-decoration: none;
        color: #000000;
        font-weight: 300;
        display: block;
        transition: all 0.3s ease; }
        .footer_col ul li a:hover {
          padding-left: 8px; }
        .footer_col ul li a i {
          padding-right: 8px;
          color: #000000; }

.footer_logo {
  background-color: #000000;
  width: 25vh;
  height: auto; }

@media (max-width: 767px) {
  .footer_col {
    width: 50%;
    margin-bottom: 30px; } }

@media (max-width: 574px) {
  .footer_col {
    width: 100%; } }

main#principalPersonalizados {
  padding: 100px; }
  main#principalPersonalizados h1 {
    font-size: 38pt;
    font-weight: bold;
    text-align: center;
    font-family: Roboto, sans-serif; }
  main#principalPersonalizados h2 {
    font-size: 18pt;
    font-family: Roboto, sans-serif;
    margin-top: 100px; }
  main#principalPersonalizados p {
    font-size: 15pt;
    font-family: Roboto, sans-serif;
    margin-top: 50px; }
  main#principalPersonalizados ul {
    width: 70%; }
    main#principalPersonalizados ul li {
      font-size: 15pt;
      font-family: Roboto, sans-serif; }
      main#principalPersonalizados ul li a {
        text-decoration: none; }

@media only screen and (min-device-width: 280px) and (max-device-width: 767px) {
  main#principalPersonalizados {
    padding: 30px;
    margin-top: 50px; }
    main#principalPersonalizados h1 {
      font-size: 20pt; }
    main#principalPersonalizados h2 {
      font-size: 14pt;
      margin-top: 50px; }
    main#principalPersonalizados p {
      font-size: 12pt;
      margin-top: 50px; }
    main#principalPersonalizados ul {
      width: 100%; }
      main#principalPersonalizados ul li {
        font-size: 12pt;
        margin-bottom: 15px; } }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  main#principalPersonalizados {
    padding: 50px;
    margin-top: 50px; }
    main#principalPersonalizados h1 {
      font-size: 38pt; }
    main#principalPersonalizados h2 {
      font-size: 18pt;
      margin-top: 50px; }
    main#principalPersonalizados p {
      font-size: 16pt;
      margin-top: 50px; }
    main#principalPersonalizados ul {
      width: 100%; }
      main#principalPersonalizados ul li {
        font-size: 16pt;
        margin-bottom: 15px; } }

main.remeras {
  padding: 100px; }
  main.remeras h1 {
    font-size: 38pt;
    font-weight: bold;
    text-align: center;
    font-family: Roboto, sans-serif; }
  main.remeras section {
    margin-top: 50px; }
    main.remeras section div {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-bottom: 50px; }
      main.remeras section div div {
        background-color: #F4F4F4;
        display: flex;
        flex-direction: column; }
        main.remeras section div div h2 {
          font-size: 20pt;
          font-family: Roboto, sans-serif; }
        main.remeras section div div p {
          font-size: 15pt;
          font-family: Roboto, sans-serif; }

@media only screen and (min-device-width: 280px) and (max-device-width: 767px) {
  main.remeras {
    padding: 50px;
    margin-top: 50px; }
    main.remeras h1 {
      font-size: 20pt;
      font-weight: bold;
      text-align: center;
      font-family: Roboto, sans-serif; }
    main.remeras section {
      margin-top: 50px; }
      main.remeras section div {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 0px; }
        main.remeras section div div {
          display: flex;
          flex-direction: column;
          margin-bottom: 40px; }
          main.remeras section div div h2 {
            font-size: 14pt; }
          main.remeras section div div p {
            font-size: 12pt; } }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  main.remeras {
    padding: 50px;
    margin-top: 50px; }
    main.remeras h1 {
      font-size: 38pt;
      font-weight: bold;
      text-align: center;
      font-family: Roboto, sans-serif; }
    main.remeras section {
      margin-top: 50px; }
      main.remeras section div {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 0px; }
        main.remeras section div div {
          display: flex;
          flex-direction: column;
          margin-bottom: 40px; }
          main.remeras section div div h2 {
            font-size: 18pt; }
          main.remeras section div div p {
            font-size: 16pt; } }

section#principalIndex {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 850px; }
  section#principalIndex div#principalDiseños {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    section#principalIndex div#principalDiseños div#h1 {
      width: 700px; }
      section#principalIndex div#principalDiseños div#h1 h1 {
        font-size: 60pt;
        font-family: Roboto, sans-serif; }
      section#principalIndex div#principalDiseños div#h1 p {
        font-size: 20pt;
        font-family: Roboto, sans-serif; }
    section#principalIndex div#principalDiseños div#ticksIndex {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      width: 700px; }
      section#principalIndex div#principalDiseños div#ticksIndex div {
        display: flex;
        flex-direction: row;
        align-items: center; }
        section#principalIndex div#principalDiseños div#ticksIndex div p {
          font-family: Roboto, sans-serif;
          display: flex;
          align-items: center;
          height: 100%;
          margin-top: 15px;
          margin-left: 10px;
          font-size: 15pt; }
    section#principalIndex div#principalDiseños div#botonIndex {
      width: 700px;
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;
      margin-top: 100px; }
      section#principalIndex div#principalDiseños div#botonIndex button {
        width: 200px;
        height: 50px;
        background-color: #000000;
        border: none;
        border-radius: 10px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
        section#principalIndex div#principalDiseños div#botonIndex button a {
          font-family: Roboto, sans-serif;
          text-decoration: none;
          color: #FCDB35;
          font-weight: bold; }
  section#principalIndex div#vacioImagenes {
    width: 50%; }

section#iconosIndex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 200px;
  background-color: #F4F4F4; }
  section#iconosIndex div {
    display: flex;
    flex-direction: row; }
    section#iconosIndex div div {
      display: flex;
      flex-direction: column;
      margin-left: 30px; }
      section#iconosIndex div div p {
        font-family: Roboto, sans-serif; }

section#carouselIndex {
  width: 100%;
  height: 650px;
  display: flex;
  flex-direction: row;
  background-color: #000000;
  color: #F4F4F4; }
  section#carouselIndex div#estampasIndex {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    section#carouselIndex div#estampasIndex div#estampa {
      width: 500px;
      height: auto; }
      section#carouselIndex div#estampasIndex div#estampa h2 {
        font-size: 38pt;
        font-family: Roboto, sans-serif; }
      section#carouselIndex div#estampasIndex div#estampa p {
        font-size: 18pt;
        font-family: Roboto, sans-serif; }

.boldIndex {
  font-weight: bold; }

.flecha-ama {
  width: 100px;
  position: absolute;
  top: 30%;
  left: 45%; }

.elipse-ama {
  width: 25px;
  position: absolute;
  top: 75%;
  left: 45%; }

.estrella-neg {
  width: 35px;
  position: absolute;
  top: 65%;
  left: 53%; }

.elipses-ama {
  width: 60px;
  position: absolute;
  top: 9%;
  left: 80%;
  transform: rotate(90deg); }

.elipse-ama2 {
  width: 25px;
  position: absolute;
  top: 30%;
  left: 81%; }

.rombo-neg {
  width: 25px;
  position: absolute;
  top: 40%;
  left: 90%; }

.flecha-neg {
  width: 80px;
  position: absolute;
  top: 50%;
  left: 85%; }

.elipses-neg {
  width: 60px;
  position: absolute;
  top: 87%;
  left: 95%; }

.iconosArriba {
  width: 100%;
  height: 100%; }
  .iconosArriba .elipses-ama2 {
    width: 80px;
    position: relative;
    top: 10%;
    left: 5%;
    transform: rotate(90deg); }
  .iconosArriba .estrella-bla {
    width: 40px;
    position: relative;
    top: 80%;
    left: 0%; }
  .iconosArriba .elipse-ama3 {
    width: 30px;
    position: relative;
    top: 40%;
    left: 50%; }

.iconosAbajo {
  width: 100%;
  height: 100%; }
  .iconosAbajo .elipse-bla {
    width: 15px;
    position: relative;
    top: 0%;
    left: 18%; }
  .iconosAbajo .flecha-bla {
    width: 220px;
    position: relative;
    top: 0%;
    left: 50%; }
  .iconosAbajo .rombo-ama {
    width: 25px;
    position: relative;
    top: 40%;
    left: 25%; }
  .iconosAbajo .elipses-bla {
    width: 70px;
    position: relative;
    top: 55%;
    left: 40%; }

@media only screen and (min-device-width: 280px) and (max-device-width: 767px) {
  /* MAIN */
  section#principalIndex {
    justify-content: center;
    width: 100%;
    height: 600px; }
    section#principalIndex div#principalDiseños {
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      section#principalIndex div#principalDiseños div#h1 {
        width: 100%; }
        section#principalIndex div#principalDiseños div#h1 h1 {
          font-size: 20pt; }
        section#principalIndex div#principalDiseños div#h1 p {
          font-size: 12pt; }
      section#principalIndex div#principalDiseños div#ticksIndex {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 100%; }
        section#principalIndex div#principalDiseños div#ticksIndex div p {
          font-size: 10pt; }
      section#principalIndex div#principalDiseños div#botonIndex {
        width: 100%;
        justify-content: center;
        margin-top: 20px; }
        section#principalIndex div#principalDiseños div#botonIndex button {
          margin-top: 0px; }
          section#principalIndex div#principalDiseños div#botonIndex button a {
            font-size: 10pt; }
  section#iconosIndex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    padding: 20px 50px 20px 50px; }
    section#iconosIndex div {
      width: 100%;
      border-bottom: 1px solid #000000;
      margin: 10px 0px 10px 0px; }
      section#iconosIndex div div {
        border-bottom: none; }
    section#iconosIndex div#contactateIndex {
      border-bottom: none; }
  section#carouselIndex {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; }
    section#carouselIndex div#estampasIndex {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      section#carouselIndex div#estampasIndex div#estampa {
        width: 80%;
        height: auto;
        margin: 20px 0px 20px 0px; }
        section#carouselIndex div#estampasIndex div#estampa h2 {
          font-size: 20pt; }
        section#carouselIndex div#estampasIndex div#estampa p {
          font-size: 12pt; }
  .hiddenIndex {
    display: none; } }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  section#principalIndex {
    justify-content: center;
    width: 100%; }
    section#principalIndex div#principalDiseños {
      width: 80%; }
      section#principalIndex div#principalDiseños div#h1 {
        width: 100%; }
        section#principalIndex div#principalDiseños div#h1 h1 {
          font-size: 38pt; }
        section#principalIndex div#principalDiseños div#h1 p {
          font-size: 18pt; }
      section#principalIndex div#principalDiseños div#ticksIndex {
        width: 100%; }
        section#principalIndex div#principalDiseños div#ticksIndex div p {
          font-size: 12pt; }
      section#principalIndex div#principalDiseños div#botonIndex {
        width: 100%;
        justify-content: center; }
    section#principalIndex div#vacioImagenes {
      width: 50%; }
  section#iconosIndex {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 20px 50px 20px 50px; }
    section#iconosIndex div {
      width: 80%;
      border-bottom: 1px solid #000000;
      margin: 10px 0px 10px 0px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      section#iconosIndex div div {
        border-bottom: none;
        margin: 10px 0px 0px 0px; }
    section#iconosIndex div#contactateIndex {
      border-bottom: none; }
  section#carouselIndex {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; }
    section#carouselIndex div#estampasIndex {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      section#carouselIndex div#estampasIndex div#estampa {
        width: 80%;
        height: auto;
        margin: 100px 0px 50px 0px; }
        section#carouselIndex div#estampasIndex div#estampa h2 {
          font-size: 32pt; }
        section#carouselIndex div#estampasIndex div#estampa p {
          font-size: 18pt; }
  .hiddenIndex {
    display: none; } }
