@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");
body {
  line-height: 1.5;
  font-family: 'Roboto', sans-serif; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.footer {
  background-color: #fcdb35;
  padding: 15px; }
  .footer .container {
    max-width: 95%; }
    .footer .container .row {
      display: flex;
      flex-wrap: wrap; }

.footer_col {
  width: 25%;
  padding: 0 15px; }
  .footer_col h5 {
    font-size: 20pt;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative; }
  .footer_col ul {
    list-style: none; }
    .footer_col ul li {
      margin-bottom: 5px; }
      .footer_col ul li a {
        font-size: 15px;
        text-transform: capitalize;
        text-decoration: none;
        color: #000000;
        font-weight: 300;
        display: block;
        transition: all 0.3s ease; }
        .footer_col ul li a:hover {
          padding-left: 8px; }
        .footer_col ul li a i {
          padding-right: 8px;
          color: #000000; }

.footer_logo {
  background-color: #000000;
  width: 25vh;
  height: auto; }

@media (max-width: 767px) {
  .footer_col {
    width: 50%;
    margin-bottom: 30px;
    justify-content: flex-start; } }

@media (max-width: 574px) {
  .footer_col {
    width: 100%; } }

.navbar {
  background-color: #000000;
  max-width: 100%;
  max-height: 20%;
  color: #F4F4F4; }

.row-form {
  background-color: #FCDB35;
  margin: 35px 0 35px 0;
  position: relative; }
  .row-form .estrella-formNegra {
    width: 50px;
    position: absolute;
    top: 5%;
    left: 43%; }
  .row-form .elipse-formBlanca1 {
    width: 20px;
    position: absolute;
    top: 60%;
    left: 10%; }
  .row-form .rombo-formNegro {
    width: 13px;
    position: absolute;
    top: 75%;
    left: 15%; }
  .row-form .elipse-formNegra1 {
    width: 65px;
    position: absolute;
    top: 83%;
    left: 10%;
    transform: rotate(90deg); }
  .row-form .elipse-formNegra2 {
    width: 65px;
    position: absolute;
    top: 83%;
    left: 16.5%;
    transform: rotate(90deg); }
  .row-form .rombo-formNegro2 {
    width: 10px;
    position: absolute;
    top: 85%;
    left: 35%; }
  .row-form .elipse-formBlanca2 {
    width: 10px;
    position: absolute;
    top: 75%;
    left: 40%; }
  .row-form .elipse-formNegra3 {
    width: 65px;
    position: absolute;
    top: -8%;
    right: 0;
    transform: rotate(90deg); }
  .row-form .elipse-formNegra4 {
    width: 65px;
    position: absolute;
    top: 90%;
    bottom: 0;
    right: 0;
    transform: rotate(90deg); }
  .row-form .titulo-contacto {
    font-size: 38pt;
    font-weight: bold;
    margin-top: 10%; }
  .row-form .subtitulo-contacto {
    font-size: 18pt;
    padding-top: 10px; }
  .row-form .form-class {
    outline: none; }
    .row-form .form-class .form-label {
      color: #F4F4F4; }
    .row-form .form-class .btn-form {
      margin: 15px 0 15px;
      padding: 5px 30px;
      border: none;
      font-weight: bold;
      text-align: center;
      background-color: #000000;
      color: #FCDB35;
      border-radius: 10px;
      float: right; }

@media (max-width: 1024px) {
  .elipse-formNegra3, .elipse-formNegra2, .elipse-formNegra4 {
    display: none; } }

@media (max-width: 768px) {
  .elipse-formNegra2, .elipse-formNegra4, .elipse-formNegra1, .rombo-formNegro2, .elipse-formBlanca1, .elipse-formBlanca2, .rombo-formNegro {
    display: none; } }

@media (max-width: 425px) {
  .estrella-formNegra {
    display: none; } }
