main#principalPersonalizados {
    padding: 100px;

    h1 {
        font-size: 38pt;
        font-weight: bold;
        text-align: center;
        font-family: $roboto;
    }

    h2 {
        font-size: 18pt;
        font-family: $roboto;
        margin-top: 100px;
    }

    p {
        font-size: 15pt;
        font-family: $roboto;
        margin-top: 50px;
    }
    
    ul {
        width: 70%;
        li {
            font-size: 15pt;
            font-family: $roboto;

            a {
                text-decoration: none;
            }
        }
    }
}


@media only screen and (min-device-width : 280px) and (max-device-width : 767px) {
    main#principalPersonalizados {
        padding: 30px;
        margin-top: 50px;
    
        h1 {
            font-size: 20pt;

        }
    
        h2 {
            font-size: 14pt;
            margin-top: 50px;
        }
    
        p {
            font-size: 12pt;
            margin-top: 50px;
        }
        
        ul {
            width: 100%;

            li {
                font-size: 12pt;
                margin-bottom: 15px;
            }
        }
    }
}
    
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    main#principalPersonalizados {
        padding: 50px;
        margin-top: 50px;
    
        h1 {
            font-size: 38pt;

        }
    
        h2 {
            font-size: 18pt;
            margin-top: 50px;
        }
    
        p {
            font-size: 16pt;
            margin-top: 50px;
        }
        
        ul {
            width: 100%;

            li {
                font-size: 16pt;
                margin-bottom: 15px;
            }
        }
    }
}