main#principalPersonalizados {
    padding: 100px;

    h1 {
        font-size: 38pt;
        font-weight: bold;
        text-align: center;
        font-family: $roboto;
    }

    h2 {
        font-size: 18pt;
        font-family: $roboto;
        margin-top: 100px;
    }

    p {
        font-size: 15pt;
        font-family: $roboto;
        margin-top: 50px;
    }
    
    ul {
        width: 70%;
        li {
            font-size: 15pt;
            font-family: $roboto;

            a {
                text-decoration: none;
            }
        }
    }
}