@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');
body{
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#preguntas{
    background-color: $blancoFondo;
    width: auto;
    padding: 50px 100px 100px 100px;

    .accordion{
        width: auto;
        height: 100%;
        margin: auto;
        border-radius: 15px;
                padding-top: 50px;
    }

    h1{
        text-align: center;
        padding: 15px;
        font-size: 38pt;
        font-weight: bold;
        font-family: $roboto;
        margin-bottom: 100px;
    }

    .mediosDePago_preguntas{
        width: 11%;
        padding-right: 13px;
        height: auto;
        align-items: center;
    }

    a{
        text-decoration: none;
    }
}


@media only screen and (min-device-width : 280px) and (max-device-width : 767px) {
    #preguntas{
        background-color: $blancoFondo;
        width: auto;
        padding: 0px 20px 50px 20px;
    
        .accordion{
            width: auto;
            height: 100%;
            margin: auto;
            border-radius: 15px;
                    padding-top: 50px;
        }
    
        h1{
            text-align: center;
            padding: 15px;
            font-size: 20pt;
            margin-bottom: 0px;
        }
    
        .mediosDePago_preguntas{
            width: 11%;
            padding-right: 13px;
            height: auto;
            align-items: center;
        }
    
        a{
            text-decoration: none;
        }
    }
}