

.navbar {
    background-color: #000000;

    .navbar-brand {
        color: #FCDB35;
    }

    a {
        color: #F4F4F4;
        text-decoration: none;
    }

    a:hover {
        border-bottom: solid #FCDB35;
        text-decoration: none;
    }

    .dropdown-menu li a {
        background-color: #FCDB35;
        color: #000000;
        border-top: 1px solid #000000;
    }

    .dropdown-menu li a:active {
        border-bottom: none;
        background-color: #000000;
        color: #FCDB35;
    }
}

section#principalIndex {
    div {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
        div {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }
    }

    button {
        border-radius: 10%;
        background-color: #000000;
        width: 100px;
        height: 40px;

        a {
            color: #FCDB35;
            text-decoration: none;
        }
    }

}

section#carouselIndex {
    display: flex;
    flex-direction: row;
}

